html, body {
  height: 100%;
  width: 100%;
}

#landing {
  height: 100%;
}
  
.overlay > main {
  display: flex;
  place-items: center;
}

.overlay > aside {
  display: flex;
  place-items: center;
  z-index: -1;
  height: 100%;
  width: 100%;
}
